/*вграждане на кутии*/
channel {
	display: flex;
	/*при оформяне на XML с CSS браузър използваме CSS за XML с display свойство*/
	flex-direction: column;/*посоката*/
	margin: 15px;/*марж*/
}
item {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 10px;
}
item title {
	font-size: 20px;
	text-decoration: underline;
	padding-bottom: 3px;/*дъното на подложката*/
}
item description {
	font-size: 15px;
}
textinput {
	display: flex;
	flex-direction: row;
	justify-content: space-around;/*разстояние между елементите*/
	margin: 10px;
}
textinput * {
	color: blue;
	text-decoration: underline;
}
/*чрез @media screen форматирам поделементите спрямо размера на екрана*/
/*max-width е максимален размер на екрана*/
@media screen and (max-width: 600px) {
	item title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		background-color: red;
	}
	item description {
		font-size: 15px;
		background-color: yellow;
	}
	item link {
		font-size: 13px;
		text-decoration: underline;
		padding-bottom: 3px;
		background-color: blue;
	}
}
@media print {
	item title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		background-color: rerd;
	}
	item description {
		font-size: 15px;
		background-color: yellow;
	}
	item link {
		font-size: 13px;
		text-decoration: underline;
		padding-bottom: 3px;
		background-color: blue;
	}
}